@media screen {
  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }
  .timer {
    display: flex;
  }
  .field {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
